<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="connect">
  
      <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner">
          <div class="left">
            {{> 'bars' }}
          </div>
          <div class="title">Connect</div>
        </div>
      </div>


      <div class="page-content">
  
        <div class="row">
          <div class="col-100 tablet-50 center">
  
            {{#with connect}}

              <div class="block-title">IPFS Peers <span class="badge peers-badge color-blue">{{peerCount}}</span></div>
              <div class="block list media-list peer-list">
                <ul>
                  {{#each peers}}
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-subtitle no-wrap">
                          {{this}}
                        </div>
                      </div>
                    </div>
                  </li>
                  {{/each}}
                </ul>
              </div>
    
              <div class="block-title">IPFS Info</div>
              <div class="block list media-list">
                <ul>
                  {{#each ipfsInfo.addresses}}
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-subtitle no-wrap">
                          {{this}}
                        </div>
                      </div>
                    </div>
                  </li>
                  {{/each}}
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title no-wrap">
                          <div class="item-header">Agent Version</div>
                          {{ipfsInfo.agentVersion}}
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title no-wrap">
                          <div class="item-header">ID</div>
                          {{ipfsInfo.id}}
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
    
    
              <div class="block-title">Add IPFS Peer</div>
              <form class="block list" id="add-peer-form" action="/connect/addPeer">
                <ul>
                  <li>
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">Peer Address</div>
                        <div class="item-input-wrap">
                          <input id="peerAddressInput" type="text" name="peerAddress" placeholder="Enter peer address"
                            required validate>

                          <div class="row">
                            <button class="button button-fill col-100 large-40" value="Add Peer" @click="addPeerClick">Add Peer</button>
                          </div>  

                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </form>
    
    
              <div class="block-title">Monitored Feeds</div>
              <div class="block list media-list peer-list">
                <ul>
                  {{#each subscribed}}
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-subtitle no-wrap">
                          {{this}}
                        </div>
                      </div>
                    </div>
                  </li>
                  {{/each}}
                </ul>
              </div>

            {{/with}}


            {{#with schema}}
              <div class="block-title">Schema</div>
              <div class="block">
                  <div class="list media-list">
                      <ul>
    
                          <li>
                              <div class="item-content">
                                  <div class="item-inner">
                                      <div class="item-title-row">
                                          <div class="item-title">Global Schema CID</div>
                                      </div>
                                      <div class="item-text">{{globalSchema.cid}}</div>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="item-content">
                                  <div class="item-inner">
                                      <div class="item-title-row">
                                          <div class="item-title">Global Schema Owner</div>
                                      </div>
                                      <div class="item-text">{{globalSchema.owner}}</div>
                                  </div>
                              </div>
                          </li>
    
    
                          {{#each stores}}
                          <li>
                              <div class="item-content">
                                  <div class="item-inner">
                                      <div class="item-title-row">
                                          <div class="item-title">{{name}}</div>
                                          <div class="item-after">Loaded: {{loaded}}</div>
                                      </div>
                                      <div class="item-text">{{address}}</div>
    
                                  </div>
                              </div>
                          </li>
                          {{/each}}
                      </ul>
                  </div>
    
              </div>
            {{/with}}

  
          </div>
        </div>
  
      </div>
  
    </div>
  
  </template>
  
  
  

<script>
    // first we import super class
    import { SpaceComponent } from '../../util/space-component';

    // we need to export extended class
    export default class extends SpaceComponent {


        // hooks
        beforeCreate() {
            // Bind event handlers to component context
            this.addPeerClick = this.addPeerClick.bind(this);
        }
        mounted() {

        }

        beforeDestroy() {
        }

        // methods
        addPeerClick(e) {
            this.submitForm(e, "#add-peer-form")
        }
    }
</script>