<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="create-wallet">

        <div class="page-content">

            <div class="row">

                <div class="col-100 large-50 center">

                    <form id="create-wallet-form" action="/createWallet">

                        <div class="block-title">Create Password</div>
                        <div class="block">
                            This password will used to encrypt your wallet on this device. Choose a secure password. 
                        </div>

                        <div class="block list">
                            <ul>
                                <li>
                                    <div class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-title item-label">New Password (min 8 chars)</div>
                                            <div class="item-input-wrap">
                                                <input type="password" id="newPassword" name="newPassword"
                                                    placeholder="Enter new password" minlength="8" required validate />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-title item-label">Confirm Password</div>
                                            <div class="item-input-wrap">
                                                <input type="password" id="confirmPassword" name="confirmPassword"
                                                    placeholder="Confirm Password" minlength="8" required validate />
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="block row">
                            <button class="button button-fill col-100 large-40" @click="createClick">Create Wallet</button>
                        </div>


                    </form>



                </div>

            </div>

        </div>

    </div>

</template>



<script>
    // first we import super class
    import { SpaceComponent } from '../../util/space-component';

    // we need to export extended class
    export default class extends SpaceComponent {

        // hooks
        beforeCreate() {
            // Bind event handlers to component context
            this.createClick = this.createClick.bind(this);
        }
        mounted() {

            const self = this

            function validateMatchingPasswords(e) {
                let password = self.$$('#newPassword').val()
                let confirmPassword = self.$$('#confirmPassword').val()

                self.$$('#newPassword')[0].setCustomValidity('')

                if (password != confirmPassword) {
                    self.$$('#newPassword')[0].setCustomValidity("Passwords must match")
                }

            }

            this.$$('#newPassword').on('change blur', validateMatchingPasswords)
            this.$$('#confirmPassword').on('change blur', validateMatchingPasswords)

        }

        beforeDestroy() {
        }

        // methods
        createClick(e) {
            this.submitForm(e, "#create-wallet-form")
        }

    }
</script>