<!--suppress JSAnnotator -->
<template>

  <div class="page" data-name="enter-recovery">

    <div class="page-content">

      <div class="row">

        <div class="col-100 large-50 center">

          <div class="block-title">Restore Your Account</div>
          <div class="block">
            <p>Enter your secret twelve word phrase to restore your account.</p>

            <form id="restore-account-form" action="/restoreAccount">
              <div class="list">
                <ul>
                  <li>
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">Recovery Seed (12 words)</div>
                        <div class="item-input-wrap">
                          <textarea name="recoverySeed" required validate></textarea>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">New Password (min 8 chars)</div>
                        <div class="item-input-wrap">
                          <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password" minlength="8" required
                            validate />
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="item-content item-input">
                      <div class="item-inner">
                        <div class="item-title item-label">Confirm Password</div>
                        <div class="item-input-wrap">
                          <input type="password" id="confirmPassword" name="confirmPassword" minlength="8" placeholder="Confirm Password" required
                            validate />
                        </div>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>

              <div class="row">
                <button class="button button-fill col-40" @click="restoreClick">Restore Wallet</button>
              </div>

            </form>

          </div>





        </div>

      </div>

    </div>

  </div>

</template>


<script>
  // first we import super class
  import { SpaceComponent } from '../../util/space-component';

  // we need to export extended class
  export default class extends SpaceComponent {

    // hooks
    beforeCreate() {
      this.restoreClick = this.restoreClick.bind(this);
    }

    mounted() {

      const self = this

      function validateMatchingPasswords(e) {
        let password = self.$$('#newPassword').val()
        let confirmPassword = self.$$('#confirmPassword').val()

        self.$$('#newPassword')[0].setCustomValidity('')

        if (password != confirmPassword) {
          self.$$('#newPassword')[0].setCustomValidity("Passwords must match")
        }

      }

      this.$$('#newPassword').on('change blur', validateMatchingPasswords)
      this.$$('#confirmPassword').on('change blur', validateMatchingPasswords)

    }

    // methods
    restoreClick(e) {
      this.submitForm(e, "#restore-account-form")
    }


  }
</script>